@import '../../variables.scss';

.catalog {
  padding-bottom: 35px;
}

.catalog-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 0 20px;
  margin-top: 25px;
}

.catalog-inner {
  width: 502px;
}