@import '../../variables.scss';

.ticket {
  padding: 20px;
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 502px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &-info-wrapper {
    width: 140px;
  }

  &-price {
    color: $color-blue;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }

  &-info-title {
    line-height: 18px;
    color: $gray-text-color;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &-info-value {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
  }
}