@import '../../variables.scss';

.search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  position: relative;
}

.field-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  position: relative;
}

.label-wrapper {
  position: relative;
}

.change-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  background-color: $color-white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-image: url("../../../public/images/icons/arrows.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.2s;

  &:hover {
    border-color: $color-blue;
  }
}

.search-input {
  width: 100%;
  padding: 20px 15px;
  color: $main-text-color;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;

  &:focus {
    outline: 2px solid #FF6F32;
  }

  &.firs-input {
    border-radius: 8px 0 0 8px;
  }

  &.last-input {
    border-radius: 0 8px 8px 0;
  }
}

.search-input::placeholder {
  color: $placeholder-color;
}

.search-input-date {
  padding-right: 50px;
  background-image: url("../../../public/images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
}