$color-white: #ffffff;
$color-black: #000000;
$color-blue: #2196f3;
$color-dirty-blue: #83b3d3;
$color-gray: #dfe5ec;
$color-light-blue: #f1fcff;
$main-text-color: #4a4a4a;
$gray-text-color: #a0b0b9;
$bg-color: #f3f7fa;
$border-color: #dadada;
$placeholder-color: #9ea9b7;